<form class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" class="form-control" id="query" ng-model="query">
    </div>

    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary btn-block" ng-click="searchArtist(query)" ng-disabled="!query">
        Buscar Artistas
      </button>
    </div>
  </div>
</form>

<div class="media" ng-repeat="artist in artists">
  <div class="media-left">
    <a href="#">
      <img class="media-object" height="64" width="64" ng-src="{{ artist.images[0].url }}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      {{ artist.name }}
      <span class="badge" ng-bind="popularityTag(artist.popularity)"></span>
      <span class="glyphicon glyphicon-heart" aria-hidden="true" ng-click="likeArtist(artist)" ng-class="{ liked: artist.liked }"></span>
    </h4>
    {{ displayGenres(artist.genres) }}
  </div>
</div>
